@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");

.cards {
  font-family: "Abril", sans-serif;
  display: inline-block;
  margin: 5px;
  width: 84px;
  height: 120px;
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 5px;
  position: relative;
}

.cards .front {
  transform: rotateY(90deg);
  position: absolute;
}

.flipped .front {
  transform: rotateY(0deg);
}

/* .cards .back {
  border-radius: 10px;
  padding: 5px;
  width: 85px;
  height: 125px;
  background-color: blueviolet;
  position: absolute;
} */

.cards:hover {
  opacity: 0.9;
  cursor: pointer;
}

.suit {
  line-height: 0;
  font-size: 30px;
}
