@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");

.cards {
  font-family: "Abril", sans-serif;
  display: inline-block;
  margin: 5px;
  width: 75px;
  height: 114px;
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 5px;
  position: relative;
}

.cards .front {
  width: 100%;
  transform: rotateY(90deg);
}

.flipped .front {
  transform: rotateY(0deg);
}

.cards:hover {
  opacity: 0.9;
  cursor: pointer;
}

.suit {
  line-height: 0;
  font-size: 30px;
}
