.heading {
  margin-top: 5%;
}

.message {
  font-size: 48px;
}

.winner {
  font-size: 72px;
}

.playBtn {
  margin-top: 43px;
  background: #a7daff;
  border: none;
  padding: 16px 20px;
  border-radius: 4px;
  color: #164464;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}

.playBtn:hover {
  opacity: 0.9;
  color: #fff;
}

.firstPlace,
.secondPlace {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding: 20px;
  color: #0d4477;
  border-radius: 8px;
  margin-right: 45px;
}

.firstPlace {
  /* background-image: url("../Trophy.svg"); */
  background: linear-gradient(92.15deg, #ffd975 35.31%, #ffffff 135.61%);
  background-repeat: no-repeat;
}

.secondPlace {
  background: #fff;
  margin-left: 45px;
}

.firstPlace p,
.secondPlace p {
  width: 100px;
  text-align: left;
  font-size: 16px;
}

.scoreImg {
  width: 100px;
  height: 55px;
}

.trophyImg {
  width: 35px;
  margin-right: 15px;
}

.firstPlaceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstPlace p,
.secondPlace p {
  margin: 0 10px;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
}
